.detail-page {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.detail-page h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.detail-page img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.detail-page p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 10px;
}

.detail-page .release-date {
  font-style: italic;
}
.cast-list {
  display: flex;
  flex-wrap: wrap; /* İhtiyaç halinde oyuncu listesinin alt satıra geçmesini sağlar */
}

.actor {
  margin-right: 20px; /* Oyuncular arası boşluk */
  width: 200px; /* Her oyuncunun genişliği */
}

.actor-image {
  width: 100px; /* Oyuncu profil resimlerinin genişliği */
  height: 300px; /* Oyuncu profil resimlerinin yüksekliği */
  object-fit: cover; /* Resmi kapsamaya sığdırır */
  border-radius: 50%; /* Yuvarlak köşeler */
}

.actor-name {
  font-weight: bold;
  margin-top: 5px;
}

.actor-character {
  font-style: italic;
  margin-top: 5px;
}
